body * {
  margin: 0;
  padding: 0;
}

body div#generalSettingsContainer {
  position: fixed;
  top: 200px;
  left: 10px;
  z-index: 20;
}

body div#generalSettingsContainer div.iconAndDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 5px solid black;
  border-radius: 10px;
}

body div#generalSettingsContainer div.iconAndDesc i {
  margin-right: 5px;
  font-size: 30px;
}

body div#generalSettingsContainer div.iconAndDesc i.fa-file-alt {
  margin-left: 6px;
}

body div#generalSettingsContainer div.iconAndDesc p {
  font-size: 20px;
}

body div#generalSettingsContainer div.iconAndDesc.inline:hover {
  width: 460px;
}

body div#generalSettingsContainer div.iconAndDesc:hover {
  width: 120px;
  background-color: #818181;
  color: white;
  border: 5px solid #2e2e2e;
}

body div#generalSettingsContainer div.iconAndDesc:hover div.largeInfoDiv {
  position: fixed;
  left: 145px;
  top: 15px;
  width: 50vw;
  height: 90vh;
  background-color: #818181;
  color: white;
  border-radius: 10px;
  border: 5px solid #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  text-align: center;
}

body div#generalSettingsContainer div.iconAndDesc.inline > p {
  margin-right: 20px;
}

body div#generalSettingsContainer div.iconAndDesc.inline > div > button {
  border-radius: 10px;
  padding: 5px 10px;
}

body > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -20px;
}

body > header img#imgLogo {
  position: fixed;
  top: 5px;
  left: -5px;
  width: 200px;
  height: 200px;
}

body > header img#imgTitle {
  width: 400px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

body > div#mainSongContainer {
  width: 90%;
  float: right;
}

body > div#mainSongContainer > div {
  background-color: #ecf5f8;
  padding: 10px 30px;
}

body > div#mainSongContainer > div > div > p {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  padding-left: 10px;
}

body > div#mainSongContainer > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body > div#mainSongContainer > div > div > div > div {
  width: 160px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > div#mainSongContainer > div > div > div > div > p {
  text-align: center;
}

body > div#mainSongContainer > div > div > div > div div {
  border-radius: 50%;
}

body > div#mainSongContainer > div > div > div > div > div {
  width: 120px;
  height: 120px;
  padding: 15px;
}

body > div#mainSongContainer > div > div > div > div > div.originality0 {
  background-color: #b8beb1;
}

body > div#mainSongContainer > div > div > div > div > div.originality1 {
  background-color: pink;
}

body > div#mainSongContainer > div > div > div > div > div:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

body > div#mainSongContainer > div > div > div > div > div:hover i {
  font-size: 40px;
  -webkit-transition: font-size .4s;
  transition: font-size .4s;
}

body > div#mainSongContainer > div > div > div > div > div > div {
  height: 90px;
  padding: 15px;
}

body > div#mainSongContainer > div > div > div > div > div > div.vocals0 {
  background-color: #c95252;
}

body > div#mainSongContainer > div > div > div > div > div > div.vocals1 {
  background-color: white;
}

body > div#mainSongContainer > div > div > div > div > div > div > div {
  height: 60px;
  padding: 15px;
}

body > div#mainSongContainer > div > div > div > div > div > div > div.instrument0 {
  background-color: #b8beb1;
}

body > div#mainSongContainer > div > div > div > div > div > div > div.instrument1 {
  background-color: pink;
}

body > div#mainSongContainer > div > div > div > div > div > div > div.instrument2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#b8beb1), color-stop(pink), color-stop(#b8beb1), to(pink));
  background-image: linear-gradient(to right, #b8beb1, pink, #b8beb1, pink);
}

body > div#mainSongContainer > div > div > div > div > div > div > div > div {
  height: 30px;
  padding: 15px;
}

body > div#mainSongContainer > div > div > div > div > div > div > div > div.author0 {
  background-color: #c95252;
}

body > div#mainSongContainer > div > div > div > div > div > div > div > div.author1 {
  background-color: white;
}

body > div#mainSongContainer > div > div > div > div > div > div > div > div.author2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(white), color-stop(#c95252), color-stop(white), to(white));
  background-image: linear-gradient(to bottom, white, white, #c95252, white, white);
}

body > div#mainSongContainer > div > div > div > div > div > div > div > div > div {
  height: 0px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body canvas {
  width: 500px;
  height: 100px;
  border-radius: 5px;
}

body div.modalSong {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.modalSong div.modalMain {
  background-color: #aaa;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

body div.modalSong div.modalMain img {
  height: 300px;
  border-radius: 20px;
  border: 3px solid #ddd;
  padding: 2px;
}

body div.modalSong div.modalMain audio {
  display: none;
}

body div.modalSong div.modalMain i {
  font-size: 40px;
  padding: 5px;
  border: 5px solid black;
  margin: 0 5px;
  border-radius: 15px;
}

body div.modalSong div.modalMain i.active {
  background-color: #888;
}

body div.modalSong div.modalMain h3 {
  font-weight: normal;
}

@media (max-width: 800px) {
  body div#generalSettingsContainer {
    top: 10px;
    left: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body div#generalSettingsContainer div.iconAndDesc {
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
    white-space: nowrap;
    width: 20px;
    height: 20px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body div#generalSettingsContainer div.iconAndDesc i {
    margin-right: 0px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  body div#generalSettingsContainer div.iconAndDesc i.fa-file-alt {
    margin-left: 4px;
  }
  body div#generalSettingsContainer div.iconAndDesc p {
    font-size: 20px;
  }
  body div#generalSettingsContainer div.iconAndDesc.inline:hover {
    width: 100px;
    height: 220px;
  }
  body div#generalSettingsContainer div.iconAndDesc.inline:hover > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body div#generalSettingsContainer div.iconAndDesc.inline#btnPlayback:hover {
    width: 20px;
    height: 20px;
  }
  body div#generalSettingsContainer div.iconAndDesc:hover {
    width: 20px;
    height: 20px;
    background-color: #818181;
    color: white;
    border: 5px solid #2e2e2e;
  }
  body div#generalSettingsContainer div.iconAndDesc:hover div.largeInfoDiv {
    top: 55px;
    left: calc(15vw - 25px);
    width: 70vw;
    height: 60vh;
  }
  body div#generalSettingsContainer div.iconAndDesc:hover div.largeInfoDiv p {
    font-size: 1rem;
  }
  body div#generalSettingsContainer div.iconAndDesc.inline > p {
    margin-right: 0px;
  }
  body div#generalSettingsContainer div.iconAndDesc.inline > div > button {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px 0;
  }
  body > header img#imgLogo {
    display: none;
  }
  body > header img#imgTitle {
    margin-top: 50px;
  }
  body > div#mainSongContainer {
    width: 100%;
    clear: both;
  }
  body > div#mainSongContainer > div {
    padding: 10px 10px;
  }
  body > div#mainSongContainer > div > div > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body > div#mainSongContainer > div > div > div > div {
    width: 100px;
    margin: 10px 15px;
  }
  body > div#mainSongContainer > div > div > div > div > div {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  body > div#mainSongContainer > div > div > div > div > div > div {
    height: 60px;
    padding: 10px;
  }
  body > div#mainSongContainer > div > div > div > div > div > div > div {
    height: 40px;
    padding: 10px;
  }
  body > div#mainSongContainer > div > div > div > div > div > div > div > div {
    height: 20px;
    padding: 10px;
  }
  body > div#mainSongContainer > div > div > div > div > div > div > div > div > div {
    height: 0px;
    padding: 10px;
  }
  body canvas {
    width: 300px;
    height: 80px;
  }
  body div.modalSong div.modalMain {
    margin: 0 20px;
  }
  body div.modalSong div.modalMain img {
    height: 200px;
    max-width: calc(100vw - 100px);
  }
  body div.modalSong div.modalMain i {
    font-size: 30px;
  }
  body div.modalSong div.modalMain h1 {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=main.css.map */