body * {
    margin: 0;
    padding: 0;
}

$w10: #b8beb1;
$w11: pink;
$w20: #c95252;
$w21: white;

body {
    div#generalSettingsContainer {
        position: fixed;
        top: 200px;
        left: 10px;
        z-index: 20;

        div.iconAndDesc {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            overflow: hidden;
            white-space: nowrap;
            
            width: 30px;
            height: 30px;
            padding: 5px;

            border: 5px solid black;
            border-radius: 10px;

            i {
                margin-right: 5px;
                font-size: 30px;

                &.fa-file-alt {
                    margin-left: 6px;
                }
            }

            p {
                font-size: 20px;
            }

            &.inline:hover {
                width: 460px;
            }

            &:hover {
                width: 120px;
                background-color: rgb(129, 129, 129);
                color: white;

                border: 5px solid rgb(46, 46, 46);

                div.largeInfoDiv {
                    position: fixed;
                    left: 145px;
                    top: 15px;
                    width: 50vw;
                    height: 90vh;

                    background-color: rgb(129, 129, 129);
                    color: white;

                    border-radius: 10px;
                    border: 5px solid rgb(46, 46, 46);

                    display: flex;
                    flex-direction: column;

                    padding: 20px;
                    overflow-y: scroll;
                    text-align: center;
                }
            }

            &.inline {
                &>p {
                    margin-right: 20px;
                }

                &>div {
                    &>button {
                        border-radius: 10px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }

    &>header {
        img#imgLogo {
            position: fixed;
            top: 5px;
            left: -5px;
            width: 200px;
            height: 200px;
        }
        display: flex;
        justify-content: center;
        margin-bottom: -20px;
        img#imgTitle {
            width: 400px;
            height: 100px;
            object-fit: cover;
        }
    }

    &>div#mainSongContainer {
        width: 90%;
        float: right;
        
        &>div {
            background-color: #ecf5f8;

            padding: 10px 30px;

            &>div {
                &>p {
                    border-bottom: 3px solid black;
                    border-top: 3px solid black;
                    padding-left: 10px;
                }
                &>div {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;

                    &>div {
                        width: 160px;
                        margin: 10px;

                        &>p {
                            text-align: center;
                        }

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        div {
                            border-radius: 50%;
                        }
                        &>div {
                            width: 120px;
                            height: 120px;
                            padding: 15px;

                            &.originality0 {
                                background-color: $w10;
                            }
                            &.originality1 {
                                background-color: $w11;
                            }

                            &:hover {
                                transform: rotate(360deg) scale(1.2);
                                transition: transform .5s;

                                i {
                                    font-size: 40px;
                                    transition: font-size .4s;
                                }
                            }

                            &>div {
                                height: 90px;
                                padding: 15px;

                                &.vocals0 {
                                    background-color: $w20;
                                }
                                &.vocals1 {
                                    background-color: $w21;
                                }

                                &>div {
                                    height: 60px;
                                    padding: 15px;

                                    &.instrument0 {
                                        background-color: $w10;
                                    }
                                    &.instrument1 {
                                        background-color: $w11;
                                    }
                                    &.instrument2 {
                                        background-image: linear-gradient(to right, $w10, $w11, $w10, $w11);
                                    }

                                    &>div {
                                        height: 30px;
                                        padding: 15px;

                                        &.author0 {
                                            background-color: $w20;
                                        }
                                        &.author1 {
                                            background-color: $w21;
                                        }
                                        &.author2 {
                                            background-image: linear-gradient(to bottom, $w21, $w21, $w20, $w21, $w21);
                                        }

                                        &>div {
                                            height: 0px;
                                            padding: 15px;

                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                    }

                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    canvas {
        width: 500px;
        height: 100px;
        border-radius: 5px;
    }

    div.modalSong {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0008;

        display: none;
        justify-content: center;
        align-items: center;


        div.modalMain {
            background-color: #aaa;
            height: fit-content;
            border-radius: 20px;
            padding: 20px;
            text-align: center;

            img {
                height: 300px;
                border-radius: 20px;
                border: 3px solid #ddd;
                padding: 2px;
            }

            audio {
                display: none;
            }

            i {
                font-size: 40px;
                padding: 5px;
                border: 5px solid black;
                margin: 0 5px;
                border-radius: 15px;

                &.active {
                    background-color: #888;
                }
            }

            h3 {
                font-weight: normal;
            }
        }
    }
}

@media (max-width: 800px) {
    body {
        div#generalSettingsContainer {
            top: 10px;
            left: 0;
            width: 100vw;
            display: flex;
            justify-content: center;

            div.iconAndDesc {
                margin: 0 20px;
                display: flex;
                align-items: center;
                margin-bottom: 30px;

                overflow: hidden;
                white-space: nowrap;

                width: 20px;
                height: 20px;
                padding: 5px;

                border: 5px solid black;
                border-radius: 10px;

                // new code
                display: flex;
                flex-direction: column;

                i {
                    margin-right: 0px;
                    margin-bottom: 5px;
                    font-size: 20px;

                    &.fa-file-alt {
                        margin-left: 4px;
                    }
                }

                p {
                    font-size: 20px;
                }

                &.inline:hover {
                    width: 100px;
                    height: 220px;

                    &>div {
                        display: flex;
                        flex-direction: column;
                    }
                }

                &.inline#btnPlayback:hover {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    width: 20px;
                    height: 20px;
                    background-color: rgb(129, 129, 129);
                    color: white;

                    border: 5px solid rgb(46, 46, 46);

                    div.largeInfoDiv {
                        top: 55px;
                        left: calc(15vw - 25px);
                        width: 70vw;
                        height: 60vh;

                        p {
                            font-size: 1rem;
                        }
                    }
                }

                &.inline {
                    &>p {
                        margin-right: 0px;
                    }

                    &>div {
                        &>button {
                            border-radius: 10px;
                            padding: 5px 10px;
                            margin: 2px 0;
                        }
                    }
                }
            }
        }

        &>header {
            img#imgLogo {
                display: none;
            }

            img#imgTitle {
                margin-top: 50px;
            }
        }

        &>div#mainSongContainer {
            width: 100%;
            clear: both;

            &>div {
                padding: 10px 10px;

                &>div {

                    &>div {
                        justify-content: center;

                        &>div {
                            width: 100px;
                            margin: 10px 15px;


                            &>div {
                                width: 80px;
                                height: 80px;
                                padding: 10px;

                                // hover here

                                &>div {
                                    height: 60px;
                                    padding: 10px;

                                    &>div {
                                        height: 40px;
                                        padding: 10px;

                                        &>div {
                                            height: 20px;
                                            padding: 10px;

                                            &>div {
                                                height: 0px;
                                                padding: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        canvas {
            width: 300px;
            height: 80px;
        }

        div.modalSong {            
            div.modalMain {
                margin: 0 20px;

                img {
                    height: 200px;
                    max-width: calc(100vw - 100px);
                }

                i {
                    font-size: 30px;
                }

                h1 {
                    font-size: 1.8rem;
                }
            }
        }
    }
}