body * {
    margin: 0;
    padding: 0;
}

$w10: #b8beb1;
$w11: pink;
$w20: #c95252;
$w21: white;

body {
    div#generalSettingsContainer, div#playbackSettingsContainer {
        position: fixed;
        left: 10px;

        div.iconAndDesc {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            overflow: hidden;
            white-space: nowrap;
            
            width: 30px;
            height: 30px;
            padding: 5px;

            border: 5px solid black;
            border-radius: 10px;

            i {
                margin-right: 5px;
                font-size: 30px;

                &.fa-file-alt {
                    margin-left: 6px;
                }
            }

            p {
                font-size: 20px;
            }

            &.inline:hover {
                width: 30vw;
            }

            &:hover {
                width: 120px;
                background-color: rgb(129, 129, 129);
                color: white;

                border: 5px solid rgb(46, 46, 46);

                div.largeInfoDiv {
                    position: fixed;
                    left: 145px;
                    top: 15px;
                    width: 50vw;
                    height: 90vh;

                    background-color: rgb(129, 129, 129);
                    color: white;

                    border-radius: 10px;
                    border: 5px solid rgb(46, 46, 46);

                    display: flex;
                    flex-direction: column;

                    audio#mainAudio {
                        width: 100%;
                    }

                    padding: 20px;
                    overflow-y: scroll;
                    text-align: center;
                }
            }

            &.inline {
                &>p {
                    margin-right: 20px;
                }

                &>div {
                    &>button {
                        // width: 70px;
                        border-radius: 10px;
                        padding: 5px 10px;
                    }

                    &>i {
                        border: 5px solid black;
                        border-radius: 10px;
                        padding: 5px;

                        margin-right: 5px;
                        font-size: 30px;
                    }
                }
            }
        }
    }

    &>div#generalSettingsContainer {
        top: 200px;
    }

    &>div#playbackSettingsContainer {
        bottom: 30px;

        audio#mainAudio {
            display: none;
            // position: fixed;
            // left: -115px;
            // bottom: 160px;
            // transform: rotateZ(270deg);
        }
    }

    &>header {
        img {
            width: 100px;
            height: 50px;
            object-fit: cover;
        }
    }

    &>div#mainSongContainer {
        width: 90%;
        float: right;
        
        &>div {
            background-color: #ecf5f8;

            padding: 10px 30px;

            &>div {
                &>p {
                    border-bottom: 3px solid black;
                    border-top: 3px solid black;
                    padding-left: 10px;
                }
                &>div {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;

                    &>div {
                        width: 160px;
                        margin: 10px;

                        &>p {
                            text-align: center;
                        }

                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        div {
                            border-radius: 50%;
                        }
                        &>div {
                            width: 120px;
                            height: 120px;
                            padding: 15px;

                            &.originality0 {
                                background-color: $w10;
                            }
                            &.originality1 {
                                background-color: $w11;
                            }

                            &:hover {
                                transform: rotate(360deg) scale(1.2);
                                transition: transform .5s;

                                i {
                                    font-size: 40px;
                                    transition: font-size .4s;
                                }
                            }

                            &>div {
                                height: 90px;
                                padding: 15px;

                                &.vocals0 {
                                    background-color: $w20;
                                }
                                &.vocals1 {
                                    background-color: $w21;
                                }

                                &>div {
                                    height: 60px;
                                    padding: 15px;

                                    &.instrument0 {
                                        background-color: $w10;
                                    }
                                    &.instrument1 {
                                        background-color: $w11;
                                    }
                                    &.instrument2 {
                                        background-image: linear-gradient(to right, $w10, $w11, $w10, $w11);
                                    }

                                    &>div {
                                        height: 30px;
                                        padding: 15px;

                                        &.author0 {
                                            background-color: $w20;
                                        }
                                        &.author1 {
                                            background-color: $w21;
                                        }
                                        &.author2 {
                                            background-image: linear-gradient(to bottom, $w21, $w21, $w20, $w21, $w21);
                                        }

                                        &>div {
                                            height: 0px;
                                            padding: 15px;

                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                    }

                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    div.modalSong {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0008;

        display: none;
        justify-content: center;

        div.modalMain {
            margin-top: 100px;
            background-color: #aaa;
            height: fit-content;
            border-radius: 20px;
            padding: 20px;
            text-align: center;

            img {
                border-radius: 20px;
                border: 3px solid #ddd;
            }
        }
    }
}